{
    "arrowParens": "avoid",
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "printWidth": 120,
    "bracketSpacing": false,
    "endOfLine": "lf",
    "semi": true,
    "useTabs": false,
    "jsxSingleQuote": false
}